In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)

In [3]:
headlines_soup = bs(response.text, 'lxml')

In [4]:
headline = headlines_soup.find('div', class_ = 'content_title').text.strip()

Opportunity Hunkers Down During Dust Storm

In [6]:

news = headlines_soup.find('div', class_ = 'rollover_description_inner').text.strip()

In [7]:

print(news)

It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.

In [8]:

from splinter import Browser
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [9]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

# Weather tweet of Mars

In [10]:
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)

In [11]:
weather_soup = bs(response.text, 'html.parser')

In [12]:
mars_weather_tweet = weather_soup.find_all('div', class_ = "js-tweet-text-container")

In [13]:
for tweet in mars_weather_tweet:
    if tweet.text.strip().startswith('Sol'):
        mars_weather = tweet.text.strip()

In [14]:
print(mars_weather)

Sol 2172 (2018-09-15), high -14C/6F, low -73C/-99F, pressure at 8.93 hPa, daylight 05:43-18:00

In [15]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [15]:
mars_df = pd.read_html(url)
mars_df = (mars_df[0])

In [17]:
mars_df.columns = ["Description", "Value", "Text"]

In [18]:
mars_df

,Description,Value,Text
0,United States,40404,(any)
1,Canada,21212,(any)
2,United Kingdom,86444,"Vodafone, Orange, 3, O2"
3,Brazil,40404,"Nextel, TIM"
4,Haiti,40404,"Digicel, Voila"
5,Ireland,51210,"Vodafone, O2"
6,India,53000,"Bharti Airtel, Videocon, Reliance"
7,Indonesia,89887,"AXIS, 3, Telkomsel, Indosat, XL Axiata"
8,Italy,4880804,Wind
9,3424486444,Vodafone,NaN
10,» See SMS short codes for other countries,NaN,NaN

In [ ]:
mars_df = mars_df.to_html(classes='mars')
table_data = mars_df.replace('\n', ' ')
table_data